.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f7f6;
  margin: 0;
}

.formContainer {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #218838;
}

p {
  color: #d9534f;
  text-align: center;
  margin-bottom: 15px;
  font-size: 14px;
}

.navigationLink {
  margin-top: 20px;
  text-align: center;
}

.navigationLink a {
  color: #007bff;
  text-decoration: none;
}

.navigationLink a:hover {
  text-decoration: underline;
}

.errorMessage {
  color: red;
}
